<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style1.css" />
    <title>About</title>
  </head>
  <body>
    <h1>Visit the most beautiful garden in London!</h1>

    <p>
        Sky Garden is London’s highest public garden – a vibrant social space with 360-degree views of the city’s iconic skyline.

        Here, you can experience London from a spectacular viewpoint. Enjoy lush greenery, exquisitely landscaped gardens, observation decks, and an open-air terrace.
        
        Access to the Sky Garden is free of charge, but spaces are limited. Visits must be booked in advance through this site, and can be made up to three weeks in advance. 

    </p>
    

  </body>
</html>
