<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Home</title>
  </head>
  <body>
   <header>
      <h1>SKY GARDEN</h1>
      
      <section1 class="section1">
      <ul class="list">
        <li><a href="/about">Find more information here!</a></li>
        <li><a href="/photoGallery">Photo Gallery 📸</a></li>
        <li><a href="/works"> Opening Time ⌚</a></li>
        </ul>

        <div class = "SkyGardenImage"> <img src="images/skygarden-big.jpg"></div>
      </section1>
      
    
    <h2></h2>
  </body>
</html>
