<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style3.css" />
    <title>Works</title>
  </head>
  <body>
   <header>
      <h1>Opening Time</h1>
      
      <section1 class="section1">
      <p>MON: 10AM – 12AM (LAST ENTRY 10:00PM)
        TUES - WED: 8:00AM – 12AM (LAST ENTRY 10:00PM)
        THU: 8:00AM – 12AM (LAST ENTRY 11:00PM)
        FRI - SAT: 8:00AM - 1AM (LAST ENTRY 12:00AM)
        SUN: 8AM – 12AM (LAST ENTRY 10:00PM)</p>

        <div class = "LunchImage"> <img src="images/lunch.png"></div>
      </section1>
      
    
    
  </body>
</html>
